@media ( max-width: 451px ) {
.Body{
  background-color: rgba(102, 184, 83, 0.422);
  position: fixed;
  top: 30%;
  left: 0px;
  width: 110%;
  height: 100%;
}
}
@media ( min-width: 450px ) {
  .Body{
    background-color: rgba(102, 184, 83, 0.422);
    position: fixed;
    top: 30%;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}