@media ( max-width: 770px ) {
  .Header{
    height: 25%;
    background-color: rgba(195, 161, 126, 0.486);
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}
header{
  text-align: center;
  font-size: 50px;
  color: rgb(0, 0, 0);
}
p{
  margin-top: 10px;
}

}
@media ( min-width: 771px ) {
  .Header{
    height: 30%;
    background-color: rgba(189, 147, 74, 0.743);
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}
header{
  text-align: center;
  font-size: 100px;
  color: rgb(55, 77, 59);
}
p{
  margin-top: 40px;
}
}