.img{
  width: 100px;
  height: 150px;
  background-color: rgba(61, 152, 55, 0.408);
  text-align: center;
  display: inline-block;
  margin: 5px;
  margin-left: 1.68%;
  margin-right: 1.8%;
}
.bookimg{
  width: 100px;
  height: 150px;
  text-align: center;
}
.Hidden{
  overflow: hidden;
  width: 100px;
  height: 30px;
}
.booktitle{
  font-size: 5px;
}
.w-btn-green {
  background-color: #77af9c;
  color: #d7fff1;
}

.w-btn-green2 {
  background-color: #519d9e;
  color: #9dc8c8;
}

.w-btn-green:hover {
  background-color: #165b44;
  color: #d7fff1;
  cursor: pointer;
}

.w-btn-green2:hover {
  background-color: #1c6f71;
  color: #9dc8c8;
}
button{
  width: 100px;
  height: 60px;
  font-size: 20px;
  top: 85%;

}
.w-btn {
  position: fixed;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}
.w-btn-outline {
  position: fixed;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}
#B{
  left: 10px;
}
#N{
  right: 10px;
}
.text{
  text-align: center;
}