.img{
  width: 100px;
  height: 150px;
  background-color: rgba(61, 152, 55, 0.408);
  text-align: center;
  display: inline-block;
  margin: 5px;
}
.bookimg{
  width: 100px;
  height: 150px;
}
.Hidden{
  overflow: hidden;
  width: 100px;
  height: 30px;
}
.booktitle{
  font-size: 5px;
}
.w-btn-green {
  background-color: #77af9c;
  color: #d7fff1;
}

.w-btn-green2 {
  background-color: #519d9e;
  color: #9dc8c8;
}

.w-btn-green-outline {
  border: 3px solid #77af9c;
  color: darkgray;
}

.w-btn-green2-outline {
  border: 3px solid #519d9e;
  color: darkgray;
}

.w-btn-green-outline:hover {
  background-color: #77af9c;
  color: #d7fff1;
}

.w-btn-green2-outline:hover {
  background-color: #519d9e;
  color: #9dc8c8;
}
button{
  width: 100px;
  height: 75px;
  font-size: ;
}