.img{
  width: 100px;
  height: 150px;
  background-color: rgba(61, 152, 55, 0.408);
  text-align: center;
  display: inline-block;
  margin: 5px;
}
.bookimg{
  width: 100px;
  height: 150px;
}
.booktitle{
  font-size: 5px;
  width: 100px;
  height: 10;
}